.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.text {
  color: var(--super-light-gray);
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.listItem {
  width: 300px;
  height: auto;
  min-height: 485px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .list {
    margin-top: 110px;
  }

  .container {
    margin-top: 110px;
  }
}
