.modalContent {
  position: fixed;
  top: 50%;
  left: calc(50% + 100px);
  transform: translate(-50%, -50%);
  background: var(--white);
  border-radius: 20px;
  padding: 30px;
  width: 550px;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

.closeButton {
  position: absolute;
  padding: 5px;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.imageWrapper {
  margin: 0 auto;
  width: 450px;
  height: 224px;
  background-color: var(--dark-gray);
  border-radius: 10px;
  overflow: hidden;
}

.svgCar {
  width: 450px;
  height: 225px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: var(--dark-gray);
  font-size: 26px;
}
.mainText {
  font-weight: 500;
  color: var(--light-gray);
}

.mainWrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.additionalWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleAdditional {
  text-align: center;
  color: var(--light-gray);
}

.text {
  color: var(--super-light-gray);
}

.btnRent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 168px;
  height: 44px;
  background-color: var(--light-gray);
  color: var(--white);
  border: none;
  margin: 0 auto;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btnRent:hover,
.btnRent:focus {
  background-color: var(--dark-gray);
  outline: none;
}

.btnRent:active {
  background-color: var(--black);
}

@media (max-width: 1199px) {
  .modalContent {
    width: 450px;
    min-height: 550px;
    padding: 20px;
    max-height: calc(100vh - 97px);
    overflow-y: auto;
  }

  .title {
    font-size: 22px;
  }

  .mainText {
    font-size: 15px;
  }

  .mainWrap {
    gap: 8px;
  }

  .additionalWrap {
    gap: 8px;
  }

  .titleAdditional {
    font-size: 16px;
  }

  .text {
    font-size: 15px;
  }

  .imageWrapper {
    width: 350px;
    height: 150px;
    min-height: 150px;
  }

  .svgCar {
    width: 350px;
    height: 150px;
    min-height: 150px;
  }

  .btnRent {
    width: 140px;
    height: 40px;
    min-height: 40px;
    font-size: 14px;
  }

  .closeButton {
    top: 5px;
    right: 15px;
  }
}

@media (max-width: 767px) {
  .modalContent {
    width: 500px;
    min-height: 250px;
    top: calc(50% + 50px);
    left: 50%;
    margin-top: 20px;
    max-height: calc(100vh - 97px);
    overflow-y: auto;
  }

  .title {
    font-size: 20px;
  }

  .mainText {
    font-size: 15px;
  }

  .mainWrap {
    gap: 5px;
  }

  .additionalWrap {
    gap: 5px;
  }

  .titleAdditional {
    font-size: 17px;
  }

  .text {
    font-size: 14px;
  }

  .imageWrapper {
    width: 350px;
    height: 175px;
    min-height: 175px;
  }

  .svgCar {
    width: 350px;
    height: 175px;
    min-height: 175px;
  }

  .closeButton {
    top: 5px;
    right: 25px;
  }

  .btnRent {
    width: 140px;
    height: 40px;
    min-height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 649px) {
  .modalContent {
    width: 350px;
    min-height: 250px;
    top: calc(50% + 50px);
    left: 50%;
    margin-top: 20px;
    max-height: calc(100vh - 97px);
    overflow-y: auto;
  }

  .title {
    font-size: 18px;
  }

  .mainText {
    font-size: 12px;
  }

  .mainWrap {
    gap: 5px;
  }

  .additionalWrap {
    gap: 5px;
  }

  .titleAdditional {
    font-size: 14px;
  }

  .text {
    font-size: 12px;
  }

  .imageWrapper {
    width: 280px;
    height: 140px;
    min-height: 140px;
  }

  .svgCar {
    width: 280px;
    height: 140px;
    min-height: 140px;
  }

  .closeButton {
    top: 5px;
    right: 7px;
  }

  .btnRent {
    width: 140px;
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 424px) {
  .modalContent {
    width: 280px;
    margin-top: 20px;
    max-height: calc(100vh - 97px);
    overflow-y: auto;
  }

  .imageWrapper {
    width: 230px;
    height: 125px;
    min-height: 125px;
  }

  .svgCar {
    width: 230px;
    height: 125px;
    min-height: 125px;
  }

  .closeButton {
    right: -1px;
  }
}
