.searchForm {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  position: relative;
  display: flex;
  gap: 10px;
}

.input {
  padding: 10px 15px;
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
  font-size: 14px;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}

.searchButton {
  padding: 10px 20px;
  background-color: var(--btn-primary);
  color: var(--white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}

.searchButton:hover {
  background-color: var(--btn-secondary);
}

.searchButton:active {
  background-color: var(--btn-third);
}

label {
  font-size: 14px;
  color: var(--light-gray);
  margin-bottom: 5px;
  text-align: center;
}
