.searchForm {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}

.searchButton {
  padding: 10px 20px;
  background-color: var(--light-gray);
  color: var(--white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}

.searchButton:hover,
.searchButton:focus {
  background-color: var(--dark-gray);
  outline: none;
}

.searchButton:active {
  background-color: var(--black);
}

label {
  font-size: 14px;
  color: var(--light-gray);
  margin-bottom: 5px;
  text-align: center;
}

@media (max-width: 1099px) {
  .searchForm {
    flex-direction: column;
  }

  .buttonGroup {
    margin: 0 auto;
  }

  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 649px) {
  .searchForm {
    flex-direction: column;
  }

  .buttonGroup {
    margin: 0 auto;
  }

  .wrapper {
    flex-direction: column;
  }
}
