.layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100vh;
  max-width: 1400px;
  min-height: 100vh;
  margin-left: 200px;
  padding: 20px;
  flex: 1;
  background-color: var(--white);
}

@media (max-width: 767px) {
  .layout {
    flex-direction: column;
    align-items: center;
  }

  .main {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    text-align: center;
  }
}
