.header {
  width: 200px;
  height: 100vh;
  background-color: var(--dark-gray);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.6);
}

.header img {
  margin: 0 auto;
  cursor: default;
}

.header h1 {
  color: var(--white);
  text-align: center;
  cursor: default;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.header li {
  color: var(--white);
  font-size: 18px;
}

.header li:hover {
  color: rgb(165, 165, 165);
  transition: color 0.3s ease-in-out;
}

.header li:active {
  color: rgb(117, 117, 117);
  transition: color 0.1s ease-in-out;
}

.activeNavLink {
  color: rgb(165, 165, 165);
  transition: color 0.3s ease-in-out;
}
