.header {
  width: 200px;
  height: 100vh;
  background-color: var(--dark-gray);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.6);
  z-index: 99999;
}

.header svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: default;
}

.header h1 {
  color: var(--white);
  text-align: center;
  cursor: default;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.header li {
  color: var(--white);
  font-size: 18px;
  transition: color 0.1s ease-in-out;
}

.header li:hover {
  color: rgb(165, 165, 165);
}

.header li:active {
  color: rgb(117, 117, 117);
}

.activeNavLink {
  color: rgb(165, 165, 165);
  transition: color 0.3s ease-in-out;
}

.btnChangeLanguage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btnChangeLanguage p {
  cursor: pointer;
  color: var(--white);
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}

.btnChangeLanguage p:hover,
.btnChangeLanguage p:focus {
  color: rgb(165, 165, 165);
}

.btnChangeLanguage p:active {
  color: rgb(117, 117, 117);
}

@media (max-width: 767px) {
  .header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  }

  .header svg {
    width: 40px;
    height: 40px;
  }

  .header ul {
    flex-direction: row;
    gap: 10px;
  }

  .header li {
    font-size: 18px;
  }
}

@media (max-width: 659px) {
  .header {
    width: 100%;
    height: 97px;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    display: none;
  }

  .header ul {
    gap: 15px;
  }

  .header h1 {
    display: none;
  }

  .header li {
    font-size: 18px;
  }

  .btnChangeLanguage p {
    font-size: 12px;
  }
}

@media (max-width: 499px) {
  .header {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .header li {
    font-size: 18px;
  }

  .btnChangeLanguage p {
    font-size: 12px;
  }
}
