.container {
  margin-top: 0;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: var(--super-light-gray);
  border-radius: 10px;
  overflow: hidden;
}

.bgPhoto {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayText {
  color: var(--white);
  font-size: 85px;
  font-weight: bold;
  opacity: 0.89;
  cursor: default;
}

.svgIcons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section {
  background-color: var(--light-gray);
  padding: 20px;
  border-radius: 10px;
}

.sectionTitle {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--white);
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 45px;
}

.listItem {
  width: 400px;
  height: 100%;
  min-height: 195px;
  background: var(--super-light-gray);
  padding: 13px;
  border-radius: 15px;
}

.itemTitle {
  margin-bottom: 15px;
  font-size: 22px;
  color: var(--white);
  text-align: center;
}

.itemDescription {
  font-size: 16px;
  font-weight: 300;
  color: var(--light-white);
  text-align: center;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: var(--white);
  transition: color 0.3s ease-in-out;
}

.link:active {
  color: var(--light-white);
  transition: color 0.1s ease-in-out;
}

.svgDiv {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .container {
    margin-top: 110px;
  }
}

@media (max-width: 1023px) {
  .overlayText {
    font-size: 45px;
  }
}

@media (max-width: 767px) {
  .overlayText {
    font-size: 40px;
  }
  .sectionTitle {
    font-size: 24px;
  }

  .itemTitle {
    font-size: 20px;
  }
}

@media (max-width: 424px) {
  .overlayText {
    font-size: 32px;
  }
}
