.container {
  margin-top: 0;
}

.svgIcons {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section {
  background-color: var(--light-gray);
  padding: 20px;
  border-radius: 10px;
}

.sectionTitle {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--white);
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 45px;
}

.listItem {
  width: 400px;
  height: 100%;
  min-height: 195px;
  background: var(--super-light-gray);
  padding: 13px;
  border-radius: 15px;
}

.itemTitle {
  margin-bottom: 15px;
  font-size: 22px;
  color: var(--white);
  text-align: center;
}

.itemDescription {
  font-size: 16px;
  font-weight: 300;
  color: var(--light-white);
  text-align: center;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: var(--white);
  transition: color 0.3s ease-in-out;
}

.link:active {
  color: var(--light-white);
  transition: color 0.1s ease-in-out;
}

.imgDiv {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .container {
    margin-top: 110px;
  }
}
