.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: var(--super-light-gray);
}

.image {
  margin: 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.heartIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
}

.details {
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.title {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.price {
  font-size: 24px;
  color: #333;
}

.spanInfo {
  font-weight: 500;
}

.info {
  font-size: 14px;
  color: #888;
}

.learnMoreButton {
  background-color: var(--light-gray);
  color: var(--white);
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: auto;
  transition: background-color 0.2s ease-in-out;
}

.learnMoreButton:hover,
.learnMoreButton:focus {
  background-color: var(--dark-gray);
  outline: none;
}

.learnMoreButton:active {
  background-color: var(--black);
}
