.container {
}

img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section {
  background-color: var(--light-gray);
  padding: 15px;
  border-radius: 8px;
}

.sectionTitle {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--white);
}

.list {
  list-style-type: none;
  padding: 0;
}

.listItem {
  margin-bottom: 15px;
}

.itemTitle {
  margin-bottom: 5px;
  font-size: 22px;
  color: var(--white);
  text-align: center;
}

.itemDescription {
  font-size: 16px;
  font-weight: 300;
  color: var(--light-white);
  text-align: center;
}
